body {
	margin: 0;
	background-color: beige;
}

#header {
	margin: 0 0 50px 0;
	padding: 5%;
	padding-top: 10px;
	padding-bottom: 20px;
	background-color: #8e0707;
	font: white;
	font-family: 'Spectral SC', serif;
}
h1 {
	color: white;
}
p {

}
#header a {
	color:  white;/*#ffeee5;*/
	font-size: 20pt;
	text-decoration: none;

}
#page {
	width: 90%;
	margin: auto;
	background-color: white;
	padding: 20px;
}