
<h2>List of Referendums</h2>
  <div id="listDiv">
  </div>
  
  
  <h2>Add a Referendum</h2>
Referendum name: <input type="text" id="refName" />
Referendum description: <input type="text" id="refDescription" height=24px />
  <input type="button" value="Submit" id="sub" />


<script>
  var refList = new XMLHttpRequest();
  refList.onload = function() {
    if (refList.status === 200) {
        document.getElementById("listDiv").innerHTML = refList.responseText;
    }
  }  
  refList.open('GET', 'refList.html', true);
  refList.send(null);
     
  subButton = document.getElementById("sub");
  console.log(subButton);
  subButton.addEventListener("click", newRef);
  
  function newRef() {
    var name = document.getElementById("refName").value;
    var description = document.getElementById("refDescription").value;
    var htmlToSend = name.toString() + ": " + description.toString();
     $.post('refList.html', {html: htmlToSend});
  }
  
</script>

